# **************************************************************************** #
#                                                           LE - /             #
#                                                               /              #
#    .gitignore                                       .::    .:/ .      .::    #
#                                                  +:+:+   +:    +:  +:+:+     #
#    By: eschnell <eschnell@student.le-101.fr>      +:+   +:    +:    +:+      #
#                                                  #+#   #+    #+    #+#       #
#    Created: 2018/07/23 10:57:50 by eschnell     #+#   ##    ##    #+#        #
     Updated: 2018/07/23 11:00:02 by eschnell    ###    #+. /#+    ###.fr       
#                                                          /                   #
#                                                         /                    #
# **************************************************************************** #

# Emacs buffer files #
######################
\#*\#
*~